@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="form-container">
    <div class="form-content col-md-6">
        <div class="row">
            <div class="card-header" style="background-image: url('https://static.polityka.pl/_resource/res/path/bb/f4/bbf40ce5-228c-4299-88ee-23ffe779f96a_f1400x900'); background-size: cover; background-position: center;">
                <h2 class="display-4" style="color: white; text-align: center; padding: 200px;">Witaj na stronie spacer po Białymstoku</h2>
            </div>
        </div>
    </div>
</div>

